@include b(input) {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include e(container) {
        display: inline-block;
    }

    @include e(inner) {
        border: 1px solid #0006;
        border-radius: 2px;
        padding: 1px 2px;

        @include when(focused) {
            border: 1px solid $geekblue-8;
        }

        input {
            border: none;

            &:focus {
                outline: none;
            }
        }
    }

    @include e(inner-input) {
        height: 32px;

        @include m(lg) {
            height: 40px;
        }

        @include m(sm) {
            height: 24px;
        }
    }
}
