@include b(form-item) {
    display: inline-block;
    @include e(label) {
        display: inline-block;
        padding-right: 12px;
        padding-left: 4px;
    }

    @include e(row) {
        display: inline-block;
    }

    @include e(children) {
        display: inline-block;
    }
}
